.faq-bg  {
    background-image:url(../../assets/images/theme-2/about-img.jpg);
    background-size: 100%;
    background-position: top;
    height: 274px;
    /* filter: blur(1px); */
    background-repeat: no-repeat;
}
.product-box .title a {
    color: var(--primary-color);
}